BasedOnStyle: Google
Standard: Cpp17
IndentWidth: 4
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: Inline
SortIncludes: true
IncludeBlocks: Regroup
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceAfterCStyleCast: true
BreakBeforeBraces: Allman
PointerAlignment: Left
